/.idea
/instructions
/data/csv/achievements.csv
/data/csv/achievements_users.csv
/data/csv/administrators.csv
/data/csv/comments.csv
/data/csv/elements_lists.csv
/data/csv/events.csv
/data/csv/ip2ruscity_cities.csv
/data/csv/ip2ruscity_countries.csv
/data/csv/ip2ruscity_ip2country.csv
/data/csv/ip2ruscity_ip_compact.csv
/data/csv/ip2ruscity_regions.csv
/data/csv/lists.csv
/data/csv/memes.csv
/data/csv/migrations.csv
/data/csv/news.csv
/data/csv/notfound.csv
/data/csv/options.csv
/data/csv/options_users.csv
/data/csv/password_resets.csv
/data/csv/posters.csv
/data/csv/random_booknames.csv
/data/csv/random_names.csv
/data/csv/rates.csv
/data/csv/role_user.csv
/data/csv/roles.csv
/data/csv/stats.csv
/data/csv/unwanted.csv
/data/csv/uploaders_elements.csv
/data/csv/users.csv
/data/csv/wanted.csv
